# Python Variables and Print

In [3]:
A = 10
B = 20
A
B

20

In [5]:
a = 10 
b = 20 
print(a)
print(b)

10
20

In [7]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [9]:
num1 = 20
num2 = 30
add = num1 + num2
print(add)

50

In [11]:
num1= 20
num2 = 30
add = num1 +  num2
print('The addition of', num1, 'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [13]:
name= 'Python'
age = 20
city= 'hyb'

In [37]:
print('My name is', name,'and i am ',age, 'years old from', city)
print('My name is {} and i am {} years old from {}'.format(name,age,city))
print(f'My name is {name} and i am {age} years old from {city}')

My name is Python and i am  20 years old from hyb
My name is Python and i am 20 years old from hyb
My name is Python and i am 20 years old from hyb

In [39]:
num1 = 20
num2 = 30
add = num1 + num2
print('The addition of {} and {} is = {}'.format(num1,num2,add))
print(f'The avarage of {num1}, {num2} and {num3} is = {avg}')

The addition of 20 and 30 is = 50
The avarage of 20, 30 and 333 is = 152.66666666666666

In [27]:
num1 = 100
num2 = 25
num3 = 333
avg = (num1 + num2 + num3)/3
avg1 = round((num1 + num2 + num3)/3,2)
print('The avarage of {},{}, and {} is = {} or {}'.format(num1,num2,num3,avg,avg1))

The avarage of 100,25, and 333 is = 152.66666666666666 or 152.67

In [29]:
round(avg,2)

152.67

In [33]:
num1 = 20
num2 = 30
add = num1 + num2
print(f'The addition of {num1} and {num2} is = {add}')

The addition of 20 and 30 is = 50

In [41]:
print('hello')
print('good morning')

hello
good morning

In [43]:
print('hello',end = ' ')
print('good morning')

hello good morning

In [45]:
print('hello','hai','how are you', sep='--->')
print('hello','hai','how are you', sep='&')
print('hello','hai','how are you', sep='@')
print('hello','hai','how are you', sep=' ')
print(3,'.')
print(3,'.',sep = '')
print(1,2,end = ' ')
print(3,'.',sep= '')

hello--->hai--->how are you
hello&hai&how are you
hello@hai@how are you
hello hai how are you
3 .
3.
1 2 3.

# Keywords

In [47]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [49]:
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

# Identifiers

In [56]:
1var = 10

SyntaxError: invalid decimal literal (4256868957.py, line 1)

In [58]:
val2@ = 35

SyntaxError: invalid syntax (3636076842.py, line 1)

In [60]:
import = 125

SyntaxError: invalid syntax (4166699667.py, line 1)

In [62]:
val2 = 10

In [64]:
val_ = 99

# Comments in python

In [84]:
# Single line
val = 10

In [82]:
#multiple 
#line
#comment
val = 10

In [80]:
'''
Multiple
line
comment
'''
val = 10

In [78]:
"""
Multiple 
line
comment
"""
val = 10

# Statements

In [91]:
p = 20
q = 20
r = q
p, type(p), hex(id(p))

(20, int, '0x7fff1aa82c18')

q, type(q), hex(id(q))

In [95]:
r, type(r), hex(id(r))

(20, int, '0x7fff1aa82c18')

In [97]:
p = 20
p = p +10 #variable overwriting
p

30

# Variable assignment

In [102]:
intvar = 10
floatvar = 2.75
strvar = 'python'
print(intvar)
print(floatvar)
print(strvar)

10
2.75
python

In [104]:
intvar,floatvar, strvar = 12,4.75,'python language'
print(intvar)
print(floatvar)
print(strvar)

12
4.75
python language

# Data Types

In [107]:
#Numeric

In [109]:
val1= 10 # int data type
print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1, "is integer?", isinstance(val1,int))

10
<class 'int'>
28
10 is integer? True

In [121]:
val2= 92.78 # float data type
print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2, "is float?", isinstance(val2,float))

92.78
<class 'float'>
24
92.78 is float? True

In [119]:
val3= 25 + 10j # complex data type
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3, "is complex?", isinstance(val3,complex))

(25+10j)
<class 'complex'>
32
(25+10j) is complex? True

In [123]:
sys.getsizeof(int())

28

In [125]:
sys.getsizeof(float())

24

In [127]:
sys.getsizeof(complex())

32

In [129]:
# Boolean

In [143]:
bool1 = True
bool2 = False
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [139]:
isinstance(bool1,bool)

True

In [145]:
bool(1)

True

In [147]:
bool(None)

False

In [149]:
bool(False)

False

In [153]:
str1= "hello python"
print(str1)
str2='hello world'
print(str2)
str3 = '''hello
            world'''
print(str3)
str4= """ hello
        world11"""
print(str4)
str5= ('happy '
       'monday ' 
       'every1')
print(str5)
str6 = 'whooo '
str6 = str6 *  5
print(str6)
print(len(str6))

hello python
hello world
hello
            world
 hello
        world11
happy monday every1
whooo whooo whooo whooo whooo
30

# String indexing

In [162]:
print(str1)
print(str1[0]) # first character in string 
print(str1[len(str1)-1]) # last character in string
print(str1[-1]) # last character
print(str1[6]) # 7th character
print(str1[5])

hello python
h
n
n
p

# String Slicing

In [171]:
print(str1[0:5]) #Fetch from 0 to 5 index
print(str1[6:12])
print(str1[-4:]) #fetch last 4
print(str1[-6:])
print(str1[:4]) #fetch first 4
print(str1[:6]) #fetch first 4

hello
python
thon
python
hell
hello

# Update and delete string

In [174]:
str1

'hello python'

In [176]:
str1[0:5] = 'holaa'

TypeError: 'str' object does not support item assignment

In [178]:
del str1
print(str1)

NameError: name 'str1' is not defined

# String concatenation

In [186]:
S1 = "HELLO "
S2 = "ASIF"
S3 = S1 + S2
S3

'HELLO ASIF'

# Basic Code

In [193]:
print(3+2)
print(3-4)
print(2*8)
print(2/4)
print(3**2)
print(3%2)
print(3//2)

#Check data types

print(type(10))
print(type(3.14))
print(type(1 + 13j))
print(type('hello'))
print(type([1,2,3]))
print(type({'name':'sara'}))
print(type({9.8,3.14,3.4}))
print(type((9.8,3.14,2.7)))
print(type(3==3))
print(type(3 >= 3))

5
-1
16
0.5
9
1
1
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

# variables in python

In [200]:
first_name= 'sara'
last_name = 'd'
country = 'india'
city  = 'hyb'
age= 10
is_married  = True
skills = ['HTML','CSS','JAVA','ANGULAR']
personal_info= {
    'firstname': 'sara',
    'lastname':'d',
    'country':'india',
    'city':'hyb'
}
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name:',last_name)
print('Last name length:',len(last_name))
print('country:',country)
print('city:',city)
print('age:',age)
print('married',  is_married)
print('skils', skills)
print('personal information:',personal_info)

first_name,last_name,country,age,is_married= 'fn','ln','country1','a1',False
print('First name:', first_name)
print('Last name:',last_name)
print('country:',country)
print('age:',age)
print('married',  is_married)

First name: sara
First name length: 4
Last name: d
Last name length: 1
country: india
city: hyb
age: 10
married True
skils ['HTML', 'CSS', 'JAVA', 'ANGULAR']
personal information: {'firstname': 'sara', 'lastname': 'd', 'country': 'india', 'city': 'hyb'}
First name: fn
Last name: ln
country: country1
age: a1
married False

# Operators

In [6]:
print('Addition',1+2)
print('Subtraction',1-2)
print('Multiplication',1*2)
print('Division',1/2)
print('Division without remainder',1//2)
print('Modulus',1%2)
print('Exponential',1**2)

print('Floating numbers, PI',3.14)
print('Floating numbers, gravity',9.81)

print('complex numbers',1 + 1j)
print('Multiply complex numbers',(1 + 1j) * (1-1j))

Addition 3
Subtraction -1
Multiplication 2
Division 0.5
Division without remainder 0
Modulus 1
Exponential 1
Floating numbers, PI 3.14
Floating numbers, gravity 9.81
complex numbers (1+1j)
Multiply complex numbers (2+0j)

In [11]:
a = 3
b = 2

total= a+b
diff  = a-b
product = a*b
division= a/b
remainder = a%b
floor_division = a//b
exponential = a**b

print(total)
print('a+b=',total)
print('a-b=',diff)
print('a*b=',product)
print('a/b=',division)
print('a%b=',remainder)
print('a//b=',floor_division)
print('a**b=',exponential)

5
a+b= 5
a-b= 1
a*b= 6
a/b= 1.5
a%b= 1
a//b= 1
a**b= 9

In [13]:
num_one = 3
num_two = 4

total= num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div  = num_two / num_two
remainder = num_two % num_one

print('total:',total)
print('diff:',diff)
print('product:',product)
print('div:',div)
print('remainder:',remainder)

total: 7
diff: 1
product: 12
div: 1.0
remainder: 1

In [15]:
# calaculate area of circle
radius  = 10
area_of_circle = 3.14 * radius **2
print('Area of circle:', area_of_circle)

# calculate are of rectangle
length  = 10
width  = 20
area_of_rectangle =  length * width
print('Are of rectangle:',area_of_circle)

# calculate weight of an object
mass = 75
gravity = 9.81
weight = mass *gravity
print(weight,'N')

Area of circle: 314.0
Are of rectangle: 314.0
735.75 N

In [51]:
print(3 > 2)
print(3 >= 2)
print(3 < 2)
print(3 <= 2)
print(3 == 2)
print(3 != 2)
print(len('mango') == len('avocado'))
print(len('mango') != len('avocado'))
print(len('mango') < len('avocado'))
print(len('milk') != len('meat'))
print(len('milk') == len('meat'))
print(len('tomato') == len('potato'))
print(len('python') > len('dragon'))

print('True == True:',True == True)
print('True == False:',True == False)
print('False == False:',False == False)
print('True and True:',True and True)
print('True or False:',True or False)

#print('1 is 1:', 1 is 1)
print('1 is 1:', 1 == 1)
#print('1 is not 2', 1 is not 2)
print('1 is not 2', 1 != 2)
print('a in Saranya','a' in 'Saranya')
print('S in Saranya','S' in 'Saranya')
print('coding' in 'coding for all')
print('a in an:', 'a' in 'an')
# print('4 is 2 ** 2:', 4 is 2 ** 2)
print('4 is 2 ** 2:', 4 == 2 ** 2)

True
True
False
False
False
True
False
True
True
False
True
True
False
True == True: True
True == False: False
False == False: True
True and True: True
True or False: True
1 is 1: True
1 is not 2 True
a in Saranya True
S in Saranya True
True
a in an: True
4 is 2 ** 2: True

In [53]:
print(3 > 2 and 4>3)
print(3 > 3 and 4<3)
print(3 < 2 and 4<3)
print(3>2 or 4>3)
print(3>2 or 4<3)
print(3<2 or 4<3)
print(not 3>2)
print(not True)
print(not False)
print(not not True)
print(not not False)

True
False
False
True
True
False
False
False
True
True
False

# String

In [1]:
# single like comment
letter = 'P'
print(letter)
print(len(letter))
greeting = 'Hello, World!'
print(greeting)
print(len(greeting))
sentence = "I hope you are enjoying 30 days of python challenge"
print(sentence)

# multiline string
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

first_name = 'Saranya'
last_name = 'd'
space  = ' '
full_name = first_name + space + last_name
print(full_name)
print(len(first_name))
print(len(last_name))
print(len(first_name) > len(last_name))
print(len(full_name))

P
1
Hello, World!
13
I hope you are enjoying 30 days of python challenge
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
Saranya d
7
1
True
9

In [21]:
#### Unpacking characters 
language = 'Python'
a,b,c,d,e,f = language
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print('******')
# Accessing characters in strings by index
first_letter  = language[0]
second_letter  = language[1]
last_index = len(language) - 1
last_letter = language[last_index]
print(first_letter)
print(last_letter)
print(second_letter)
print('******')

# If we want to start from right end we can use negative indexing. -1 is the last index
last_letter = language[-1]
print(last_letter)
print(second_letter)

P
y
t
h
o
n
******
P
n
y
******
n
y

# Slicing

In [13]:
first_three= language[0:3]
last_three = language[3:6]
print(last_three)

last_three = language[-3:]
print(last_three)
last_three = language[3:]
print(last_three)

hon
hon
hon

# Skipping character while splitting Python strings

In [15]:
pto = language[0:6:2]
print(pto)

Pto

# Escape sequence

In [25]:
print('I hope everyone is enjoying the python challenge. \nDo you?')
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # need to use \ to escape \
print('In every programming language it starts with \"Hello, World!\"') # need to use \ to escape "

I hope everyone is enjoying the python challenge.
Do you?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

## String Methods
# capitalize(): Converts the first character the string to Capital Letter

In [30]:
challenge = 'thirty days of python'
print(challenge.capitalize())

Thirty days of python

# count(): returns occurrences of substring in string, count(substring, start=.., end=..)
# endswith(): Checks if a string ends with a specified ending
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

In [37]:
print(challenge.count('y'))
print(challenge.count('y',7,14))
print(challenge.count('th'))
print('***')
print(challenge.endswith('on'))
print(challenge.endswith('tion'))
print('***')
challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs())
print(challenge.expandtabs(10))

3
1
2
***
True
False
***
thirty  days    of      python
thirty    days      of        python

# find(): Returns the index of first occurrence of substring

In [40]:
challenge = 'thirty days python'
print(challenge.find('y'))
print(challenge.find('th'))

5
0

# format()	formats string into nicer output

In [43]:
first_name = 'Saranya'
last_name = 'Yetayeh'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. i live in {}.'.format(first_name,last_name,job,country)
print(sentence)

I am Saranya Yetayeh. I am a teacher. i live in Finland.

In [47]:
radius = 10
pi = 3.14
area = pi
result = 'The area of the circle with {} is {}'.format(str(radius),str(area))
print(result)

The area of the circle with 10 is 3.14

# index(): Returns the index of substring

In [50]:
print(challenge.index('y'))
print(challenge.index('th'))

5
0

# isalnum(): Checks alphanumeric character

In [53]:
challenge = 'ThirtyDaysPython'
print(challenge.isalnum())
challenge = '30DaysPython'
print(challenge.isalnum())
challenge = 'thirty days of python'
print(challenge.isalnum())
challenge = 'thirty days of python 2019'
print(challenge.isalnum())

True
True
False
False

# isalpha(): Checks if all characters are alphabets

In [56]:
challenge = 'ThirtyDaysPython'
print(challenge.isalpha())
challenge = '30DaysPython'
print(challenge.isalpha())
challenge = '30'
print(challenge.isalpha())

True
False
False

# isdecimal(): Checks Decimal Characters

In [65]:
challenge = '12345'
print(challenge.isdecimal()) 
challenge = '5.6'
print(challenge.isdecimal())

True
False

# isdigit(): Checks Digit Characters

In [73]:
challenge = '12345'
print(challenge.isdigit()) 
challenge = 'hello'
print(challenge.isdigit())

True
False

# isidentifier():Checks for valid identifier means it check if a string is a valid variable name

In [76]:
challenge = '30DaysOfPython'
print(challenge.isidentifier()) 
challenge = 'thirty_days_of_python'
print(challenge.isidentifier())

False
True

# islower():Checks if all alphabets in a string are lowercase
# isupper(): returns if all characters are uppercase characters

In [83]:
challenge = 'thirty days of python'
print(challenge.islower())
challenge = 'Thirty days of python'
print(challenge.islower())

challenge = 'thirty days of python'
print(challenge.isupper()) # True
challenge = 'THIRTY'
print(challenge.isupper())

True
False
False
True

# isnumeric():Checks numeric characters

In [88]:
num = '10'
print(num.isnumeric())     
print('ten'.isnumeric())

True
False

# join(): Returns a concatenated string

In [91]:
web_tech = ['HTML','CSS','JAVASCRIPT','REACT']
result = '#, '.join(web_tech)
print(result)

HTML#, CSS#, JAVASCRIPT#, REACT

# strip(): Removes both leading and trailing characters
# replace(): Replaces substring inside
# split():Splits String from Left
# title(): Returns a Title Cased String

In [104]:
challenge = ' thirty days of python '
print(challenge.strip('y'))
print(challenge.replace('python','coding'))
print(challenge.split())
print(challenge.title())
print(challenge.swapcase())

 thirty days of python
 thirty days of coding
['thirty', 'days', 'of', 'python']
 Thirty Days Of Python
 THIRTY DAYS OF PYTHON
 THIRTY DAYS OF PYTHON